@use './variables' as *;
@use '../shared/animations' as *;

@mixin section-title {
	margin-bottom: clamp(10px, 2.1vw, 40px);
	padding-inline: $layout-spacing;
	align-self: center;
	text-transform: uppercase;
	font-size: clamp(22px, 1.7vw, 32px);
	font-weight: 900;
	color: $clr-deep-cyan;
	line-height: 1.2;
	text-align: center;
	max-width: 45ch;
	animation: slide-from-bottom 0.6s backwards;
}
@mixin grid-center {
	display: grid;
	place-items: center;
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin grid-scroll($grid-width, $snap-align: start) {
	grid-template-columns: initial;
	grid-auto-flow: column;
	grid-auto-columns: $grid-width;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	&::-webkit-scrollbar {
		display: none;
	}
	& > * {
		scroll-snap-align: $snap-align;
	}
}
@mixin flex-scroll($snap-align: start) {
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	&::-webkit-scrollbar {
		display: none;
	}
	& > * {
		scroll-snap-align: $snap-align;
	}
}
