@use './variables' as *;
@use '../shared/animations' as *;

@mixin section-title {
	margin-bottom: clamp(14px, 2.1vw, 40px);
	padding-inline: $layout-spacing;
	align-self: center;
	text-transform: uppercase;
	font-size: clamp(22px, 1.7vw, 32px);
	font-weight: 900;
	color: $clr-deep-cyan;
	line-height: 1.2;
	text-align: center;
	max-width: 45ch;
	animation: slide-from-bottom 0.6s backwards;
}
@mixin grid-center {
	display: grid;
	place-items: center;
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin grid-scroll($grid-width, $snap-align: start) {
	grid-template-columns: initial;
	grid-auto-flow: column;
	grid-auto-columns: $grid-width;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	&::-webkit-scrollbar {
		display: none;
	}
	& > * {
		scroll-snap-align: $snap-align;
	}
}
@mixin flex-scroll($snap-align: start) {
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	&::-webkit-scrollbar {
		display: none;
	}
	& > * {
		scroll-snap-align: $snap-align;
	}
}
@mixin news-card-link {
	background: #ffffff;
	border: 1.33px solid #dfe1e7;
	box-shadow: 0px 1.33px 4px 0px rgba($clr-black, 0.051);
	animation-delay: 0.2s;
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: clamp(14px, 1vw, 16px);
	font-weight: 500;
	padding-block: 10px;
	padding-inline: 16px;
	border-radius: 50px;
	position: relative;
	overflow: hidden;
	transition: color 0.3s, border-color 0.3s;
	&:hover {
		color: #fff;
		border-color: transparent;
		.icon {
			stroke: #fff;
			transform: translateX(3px);
		}
		&::after {
			transform: scaleY(1);
		}
	}
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background-color: $clr-primary;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform 0.3s;
	}

	span,
	.icon {
		z-index: 2;
	}
}
@mixin news-card-title {
	line-height: 1.4;
	font-size: clamp(18px, 1.2vw, 22px);
	font-weight: 500;
}
@mixin news-card-date-text {
	display: flex;
	align-items: center;
	gap: 8px;
	color: $clr-midnight-blue;
	font-size: 14px;
	font-weight: 500;
}
@mixin soft-box {
	padding: clamp(16px, 2.1vw, 40px);
	background: #ffffff;
	border-radius: clamp(12px, 1.1vw, 20px);
}
