@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.overflow-hidden {
	overflow: hidden;
}
.dis-none {
	display: none !important;
}
.align-self-center {
	align-self: center;
}
.fill-primary {
	fill: $clr-primary;
}
.fill-green {
	fill: $clr-green;
}
.clr-primary {
	color: $clr-primary;
}
.fill-neutral-grey {
	fill: $clr-neutral-grey;
}
.stroke-neutral-grey {
	stroke: $clr-neutral-grey;
}
.stroke-primary {
	stroke: $clr-primary;
}
