@use '../abstracts/variables' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: clamp(0.8rem, 1vw + 0.1rem, 1.3rem);
}
body {
	font-family: $font-base, sans-serif;
	font-weight: 400;
}
a {
	text-decoration: none;
	color: inherit;
}
main {
	margin-top: clamp(16px, 3.2vw, 60px);
	margin-bottom: clamp(16px, 2.1vw, 40px);
	padding-inline: $layout-spacing;
}
img {
	max-width: 100%;
	object-fit: cover;
}
ul {
	list-style: none;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: inherit;
	font: inherit;
}
input,
textarea {
	font: inherit;
	color: inherit;
	border: none;
	outline: none;
	&::placeholder {
		color: inherit;
		opacity: 0.8;
	}
}

/* Lenis */
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-stopped {
	overflow: hidden;
}
.lenis.lenis-smooth iframe {
	pointer-events: none;
}
